<h1>Listing contact_infos</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Message</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @contact_infos.each do |contact_info| %>
  <tr>
    <td><%= contact_info.name %></td>
    <td><%= contact_info.email %></td>
    <td><%= contact_info.message %></td>
    <td><%= link_to 'Show', contact_info %></td>
    <td><%= link_to 'Edit', edit_contact_info_path(contact_info) %></td>
    <td><%= link_to 'Destroy', contact_info, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Contact info', new_contact_info_path %>
