<%= form_for(@forum_post) do |f| %>
  <% if @forum_post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@forum_post.errors.count, "error") %> prohibited this forum_post from being saved:</h2>

      <ul>
      <% @forum_post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title, class: "eight"%>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, class: "eight", rows: 10 %>
  </div>
	<%= f.hidden_field :user_id, :value => session[:user_id] %>
  <div class="actions">
    <%= f.submit "Submit", class: "medium button" %>
  </div>
<% end %>
